<!DOCTYPE html>
<html>
  <head>
    <title><%= artist.name %></title>
  </head>
  <body>
    <h1><%= artist.name %></h1>
    <h2>Songs: <%= artist.songs.size %> </h2>
    <ul>
    <% artist.songs.each do |song|%>
    <li><a href = '../song/<%= song.url.gsub("'","&#39;") %>'><%= song.name %></a> 
    </li>
    <% end %>
  </ul>
    <h2>Genres: <%= artist.genres.size %></h2>
    <ul>
    <% artist.genres.each do |genre|%>
        <li><a href = '../genre/<%= genre.url.gsub("'","&#39;") %>'><%= genre.name.capitalize %></a> 
    </li>
    <% end %>
  </body>
</html>