<!DOCTYPE html>
<html>
  <head>
    <title><%= genre.name %></title>
  </head>
  <body>
    <h1><%= genre.name %></h1>
    <h2>Songs</h2>
    <ul>
    <% genre.songs.each do |song|%>
    <li><a href = '../song/<%= song.url.gsub("'","&#39;") %>'><%= song.name %></a> 
    </li>
    <% end %>
  </ul>
    <h2>Artists</h2>
    <ul>
    <% genre.artists.each do |artist|%>
        <li><a href = '../artist/<%= artist.url.gsub("'","&#39;") %>'><%= artist.name %></a> 
    </li>
    <% end %>
  </ul>
  </body>
</html>