<!DOCTYPE html>
<html>
  <head>
    <title><%= song.name %></title>
  </head>
  <body>
    <h1><%= song.name %></h1>
    <a href='../artist/<%= song.artist.url %>'><h3>Artist: <%= song.artist.name %></a></h3>
    <h4><em>Genre: <%= song.genre.name %></em></h4>
  </body>
</html>