<!DOCTYPE html>
<html>
  <head>
    <title><%= song.name %></title>
  </head>
  <body>
    <h1><%= song.name %></h1>
    <a href='../artist/<%= song.artist.url %>'><h3>Artist: <%= song.artist.name %></h3></a>
    <h4>
      <a href='../genre/<%= song.genre.url %>'><em>Genre: <%= song.genre.name.capitalize %></em></h4></a>
  </body>
</html>